header{
    background-color: #6B6B6B;
    width: 100%;
    height: 131px;
    display: flex;
}

footer{
    display: flex;
    justify-content: end;
}
.imgLogo{
    height: 131px;
    padding-left: 70px;
}

.sobre{
    color: white;
    display: flex;
    align-items: center;
    padding-left: 70%;
}

.locWahats{
    display: flex;
}
.btnWhatsApp{
    background-color: #34C759;
    color: white;
    width: 95px;
    height: 67px;
    border-radius: 25%;
    display: f;
}